<div class="row text-center">
  <div class="col">
    <h1>Counter</h1>
    <h2>{{ counter }}</h2>
  </div>
</div>



<div class="row text-center">
  <div class="col">
    <button (click)="increase()" class="btn btn-sm btn-primary rounded-3 me-3">Incrementar</button>
    <button (click)="decrease()" class="btn btn-sm btn-secondary rounded-3">Decrementar</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">

    <app-son [counter]="counter" (changeCounter)="counter = $event"></app-son>

  </div>
</div>
